.f-c {
	display: flex;
	align-items: center;
	justify-content: center;
}

.f-vc {
	display: flex;
	align-items: center;
}

.d3 {
	white-space: nowrap;
	overflow: hidden !important;
	text-overflow: ellipsis;
	display: inline-block;
}