# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage
/bundleanalyze
test.js

# production
/dist
/logs

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEA
/.idea/
*.iml

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/orders
/docs
/psd
/reestrdoma
.vscode/
/dump
/repository
/captcha